<!DOCTYPE html>

<html lang="en">
  <head>
    <title>11ty Pexels | {{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
  </head>

  <body>
    <header>
      <nav>
        <h3>11ty Pexels</h3>
        <ul>
          <li><a href="/cpsc349-project1">Home</a></li>
          <li><a href="/cpsc349-project1">About</a></li>
        </ul>
      </nav>

      <h1>{{tagline}}</h1>
      <p>{{description}}</p>
    </header>
    <main>{{content}}</main>
  </body>
</html>
